<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=yes;" />


    <title><%= data.page.title || "JPoz.net" %></title>

    <link href='http://fonts.googleapis.com/css?family=Comfortaa:300|Noto Sans:100,400,600' rel='stylesheet' type='text/css'>

    <script>
      window.addEventListener("load",function() {
        setTimeout(function(){
          window.scrollTo(0, 0);
        }, 0);
      });
    </script>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body id='body' class="<%= page_classes %>">

    <div id='header'>
      <div class='header-img'>
      </div>
      <div class='header-title'>
        <a href='/' class='jpoz'>jpoz</a>
        <span class='contacts'>
          <a class='contact twitter' href='http://www.twitter.com/jpoz'>&nbsp;</a>
          <a class='contact github' href='http://www.github.com/jpoz'>&nbsp;</a>
          <a class='contact simple' href='https://www.simple.com'>&nbsp;</a>
        </span>
      </div>
    </div>

      <div id='content'>
        <%= yield %>
      </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3441225-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
